<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>mycarlist</title>
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Gamja+Flower&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<style type="text/css">
	.box{
		width: 30px;
		height: 30px;
		border-radius: 100px;
		border: 1px solid gray;
	}
</style>
</head>
<body>
<div style="margin: 50px 50px">
	<h3>JpaCar목록</h3>
	<h5><b>총 [[${totalcount}]]개의 자동차 정보가 등록되었습니다</b></h5>
	<button type="button" class="btn btn-info" onclick="location.href='addcar'">자동차등록</button>
	<hr>
	<table class="table table-bordered" style="width: 600px;">
		<tr>
            <th width="80">번호</th>
            <th width="180">자동차명</th>
            <th width="100">색상</th>
            <th width="150">단가</th>
            <th width="120">구입일</th>
		</tr>
		
		<!-- 반복문 전체 list 출력 -->
		<tr th:each="dto,iter:${list}">
			<td>[[${iter.count}]]</td>
			<td>
				<a th:href="@{/detail(num=${dto.num})}">[[${dto.carname}]]</a>
			</td>
			<td><div class="box" th:style="'background-color: '+${dto.carcolor}"></div></td>
			<td><span th:text="${#numbers.formatInteger(dto.carprice,0,'COMMA')}"></span></td>
			<td>[[${dto.carguip}]]</td>
		</tr>
		
	</table>
</div>
</body>
</html>