div.lotto{
    
    width: 100px;
    height: 100px;
    margin: 10px;
    /* border: 2px solid black; */
    border-radius: 50px;
    box-shadow: 5px 5px 5px gray;
    background-color: rgba(238, 130, 238, 0.521);
    color: purple;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}