*{
    box-sizing: border-box;
}
body{
    background-color: #222;
    height: 100%;
    margin: 0;
}
#container{
    position: absolute;
    width: 900px;
    height: 100%;
    background-color: #fff;
    left: 50%;
    margin-left: -450px;
}
aside{
    float: left;
    width: 300px;
    height: 100%;
    padding: 30px 50px;
    background-color: rgb(212, 212, 212);

}
#main{
    float: left;
    padding: 30px;
    width: 600px;
    height: 100%;
}