<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.data.car.CarDao">
	<select id="TotalCountOfCar" resultType="int">
		select count(*) from carinfo
	</select>
	<insert id="insertOfCar" parameterType="cdto">
		insert into carinfo (carname,carcolor,carprice,carguip) values (#{carname},#{carcolor},#{carprice},#{carguip})
	</insert>
	<select id="GetAllDatasOfCar" resultType="cdto">
		select * from carinfo order by num desc
	</select>
	<delete id="deleteOfCar" parameterType="int">
		delete from carinfo where num=#{num}
	</delete>
</mapper>