h2.line{
    width: 500px;
    border: 5px solid gold;
    text-align: center;
}
div.inp{
    width: 500px;
    height: 250px;
    border: 3px solid gray;
    font-size: 20px;
    font-family: 'Dongle';
}
div.outp{
    position: absolute;
    left: 180px;
    top: 750px;
    width: 300px;
    height: 300px;

}