.number{
    font-size: 30px;
    color: red;
    font-weight: bold;
}

div.box{
    margin-left: 30px;
    float: left;
    border: 2px solid gray;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}